- name: install and run nginx
  hosts: web
  become: yes
  tasks:
    - name: Installing Nginx
      ansible.builtin.package:
        name: nginx
        state: present
      ansible.builtin.service:
        name: nginx
        state: started
        enabled: yes